// -------- COLORS -------- //

$blue-1: #02C8D6;
$blue-2: #57BFE7;
$blue-3: #8FB7F4;
$blue-4: #0083B5;

$green-1: #02d67e;
$green-2: #02d626;
$green-3: #78e6c3;
$green-4: #058c5a;

$purple-1: #878aea;
$purple-2: #5154ab;
$purple-3: #6553f7;
$purple-4: #92a0e2;

$pink-1: #ef2ddb;

$graphite: #21272f;
