// -------- CONFIG -------- //


body {
  font-family: $ff-plain;
  margin: 0;
}

.app {
  min-height: 100vh;

  width: 100%;

  display: flex;

}

.container {
  max-width: 640px;
  width: 100%;
  height: auto;
  margin: 0 auto;

  align-self: center;

  position: relative;

}