// -------- CAROUSEL construction -------- //


.carousel {

  width: 100%;

  display: block;
  overflow: hidden;

  &__path {

    height: inherit;

    position: relative;
    overflow: hidden;
    left: 0;

    transition: left 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  }

  &__button {

    background-color: transparent;
    border: none;
    outline: none;

    position: absolute;
    bottom: 0;
    z-index: 5;

    width: 60px;
    height: 60px;

    color: white;
    font-size: 20px;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &--prev {
      right: 60px;
    }

    &--next {
      right: 0;
    }

  }

}

.slide {

  height: 100%;
  float: left;

}